.header-container {
  text-align: center;
}

.filter-container, .filter-list-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.align-filter-items {
  align-items: center;
  display: flex;
  font-size: 12px;
}

.delete-filter {
  background-color: inherit;
  border: none;
}
