.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin: 30px 20px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

th {
  text-align: center;
}

.filter-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}
